# database data 
mysql_data
mysql_replica_data

html/data/*.mp4
html/data/*.MP4
html/data/*.apk
html/data/*.zip
html/data/attachment/forum/*



# other
.DS_Store
backups/

# nginx logs
nginx/logs/
report/
